<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Chat</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="p-5">
		<h3 class="mb-3">Chats</h3>

		<div class="w-100 bg-light flex align-items-start rounded-3 shadow-sm mt-4" style="min-height: 70vh;">
			<div class="row align-items-start p-3" style="min-height: 70vh;">
				<div class="col-3" >
					<form th:action="@{'/chats'}" method="post">
						<div class="bg-white rounded-3 shadow-sm p-3" style="min-height: 70vh; max-height: 70vh; overflow-y: auto;" id="message-container">

							<a th:if="${newChat == null}" th:each="group : ${groups}" th:href="@{'/chats?group=' + ${group.id}}" class="no-link-style">
							<div th:class="${param.group != null && #lists.contains(param.group, group.id.toString())} ? 'd-flex align-items-center bg-primary rounded p-3 text-white mb-3' : 'd-flex align-items-center p-3 mb-3'" style="height: 90px;">
								<div class="rounded-circle bg-light me-3" style="height: 50px; width: 50px;"></div>
								<div>
									<div class="fw-bold" th:text="${group.name}"></div>
									<div class="text-muted" th:text="${group.getLastMessage() != null ? group.getLastMessage().getContent() : 'Aucun message'}"></div>
								</div>
							</div>
						</a>

							<div th:else th:each="member : ${members}">
								<div th:if="${member.id != CurrentMemberId}" style="height: 90px;">
									<input type="checkbox" class="btn-check" name="members" th:id="${member.id + '-outlined'}" autocomplete="off" th:value="${member.id}">
									<label class="btn btn-outline-primary shadow-none w-full d-flex align-items-center" th:for="${member.id + '-outlined'}">
										<div class="rounded-circle bg-light me-3" style="height: 50px; width: 50px;"></div>
										<div class="fw-bold" th:text="${member.customName}"></div>
									</label>
								</div>
							</div>
						</div>

						<a th:if="${newChat == null}" th:href="@{'/chats?group=' + ${currentGroup != null ? currentGroup.id : ''} + '&new=true'}" class="btn btn-primary w-100 shadow-none border-none mt-3" style="height: 40px;">
							<div th:if="${newChat == null}">New chat</div>
						</a>

						<input th:if="${newChat != null}" type="text" class="form-control shadow-none w-full mt-3" placeholder="Chat name" style="height: 40px;" name="groupName" />

						<button type="submit" th:if="${newChat != null}" style="height: 40px; width: 200px;" class="btn btn-primary w-100 shadow-none border-none mt-3">
							Validate
						</button>
					</form>

					<div th:if="${newChat != null}" class="d-flex justify-content-center mt-3 w-100">
						<a th:href="@{'/chats' + ${currentGroup != null ? '?group=' + currentGroup.id : ''}}" class="text-muted text-decoration-none" style="height: 40px;">
							Cancel
						</a>
					</div>
				</div>
				<div class="col-9"  th:if="${currentGroup}">

					<div class="bg-white rounded-3 shadow-sm position-relative" style="min-height: 70vh;">
						<div class="sticky-top w-100 p-3 d-flex align-items-center">
							<div class="rounded-circle bg-light me-3" style="height: 50px; width: 50px;"></div>
							<div class="fs-5 fw-bold" th:text="${currentGroup.name}"></div>
							<div class="fs-6 text-muted pt-1 ps-5 d-inline-block text-truncate" style="max-width: 35rem;" th:text="${membersList}"></div>
						</div>

						<div class="p-3" style="min-height: 70vh; max-height: 70vh; overflow-y: auto;">
							<div th:if ="${currentGroup.getMessages().isEmpty()}" class="text-center text-muted">Aucun message</div>
							<div th:each="message : ${currentGroup.getMessages()}" class="mb-3">
								<div th:if="${message.getSenderId().isPresent() && message.getSenderId().get() == CurrentMemberId}"
									 class="d-flex align-items-end justify-content-end mb-3">
									<div class="d-flex flex-column align-items-end">
										<div style="font-size: 12px;">Moi</div>
										<div class="d-flex align-items-center">
											<div class="d-flex align-items-center me-3">
												<i class="fa-solid fa-thumbs-up text-primary"></i>
											</div>
											<div class="rounded bg-primary text-white p-3" th:text="${message.content}"></div>
										</div>
										<div class="d-flex align-items-center mt-1">
											<div class="rounded-circle bg-light" style="height: 20px; width: 20px;"></div>
										</div>
									</div>
									<div class="rounded-circle bg-light ms-3" style="height: 50px; width: 50px;"></div>
								</div>

								<div th:unless="${message.getSenderId().isPresent() && message.getSenderId().get() == CurrentMemberId}"
									 class="d-flex align-items-end mb-3">
									<div class="rounded-circle bg-light me-3" style="height: 50px; width: 50px;"></div>
									<div>
										<div style="font-size: 12px;" th:text="${message.getSenderName().orElse('Inconnu')}"></div>
										<div class="d-flex align-items-center">
											<div class="rounded bg-light p-3" th:text="${message.content}"></div>
											<div class="d-flex align-items-center ms-3">
												<i class="fa-solid fa-thumbs-up text-primary"></i>
												<i class="fa-solid fa-thumbs-down text-muted ms-2"></i>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="sticky-bottom bg-white w-100 p-3 d-flex align-items-center">
							<form th:action="@{'/chats?group=' + ${currentGroup.id}}" method="post" class="d-flex align-items-center w-100">
								<input type="text" class="form-control shadow-none me-3" placeholder="Message..." style="width: 80%; height: 40px;" name="message" />
								<button class="btn btn-primary shadow-none border-none" style="height: 40px; width: 200px;">
									Send
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>